<div *ngIf="product">
    <div>
        <img [src]="product.image" alt="product.title">
    </div>
    <div>
        <ul>
            <li>Name: {{ product.title }}</li>
            <li>Price: {{ product.price | currency }}</li>
            <li>Description: {{ product.description }}</li>
        </ul>

        
    <button (click)="createProduct()">Create product</button>
    <button (click)="updateProduct()">Update product</button>
    <button (click)="deleteProduct()">Delete product</button>

    </div>

</div>